.headerPublic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 20; 
}

.logo {
    height: 50px; 
}

.headerButtons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.registerButton {
    background-color: #FFDD00;
    color: #000000;
}

.loginButton {
    background-color: #FFFFFF;
    color: #000000;
}
