.secao-aquivcpode {
    background-color: #FFCC00;
    padding: 50px 0;
    text-align: center;
  }
  
  .secao-aquivcpode h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .Funcionalidades-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .Funcionalidades-card {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .Estrela-icon {
    width: 50px; 
    margin-right: 20px;
  }
  
  .Funcionalidades-card p {
    font-size: 18px;
    margin: 0;
  }
  