.BoxDestaques {
  background-color: #222222;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  border: none;
  overflow: hidden; /* Garante que o conteúdo não extrapole o tamanho do box */
  gap: 20px;
}

.BoxDestaquesImg {
  width: 100%;
  height: 70%; /* Ajusta a proporção da imagem */
  border-radius: 8px;
  object-fit: cover; /* Garante que a imagem se ajuste ao espaço sem distorcer */
  border: 3px solid #ffffff;
}

.InfoProjetosH2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}
