.container {
  padding: 20px;
  background-color: #0e0e0e;
  border-radius: 10px;
  color: #fff;
}

.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}

.projetos {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.link {
  display: block;
  margin-top: 20px;
  color: #f0ad4e;
  text-align: left; 
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.boxProjeto {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  max-width: 296px; 
  color: #fff;
}

.imagemProjeto {
  width: 296px; 
  height: 169px; 
  border-radius: 8px;
  margin-bottom: 12px; 
}

.textoContainer {
  margin-top: 12px;
  text-align: left; 
}

.titulo {
  font-size: 20px; 
  margin-bottom: 8px;
}

.descricao {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
  text-align: left; 
}

.localizacao,
.tipo {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 8px;
  text-align: left; 
}

.statusContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
  text-align: left; 
}

.statusIcone {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.andamento {
  background-color: orange;
}

.concluido {
  background-color: green;
}

.statusTexto {
  font-size: 14px;
  color: #ccc;
}
