.containerProjetosBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 10px;
  padding: 44px;
  max-width: 100%;
}

.containerProjetosBox h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.linhaProjetos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  padding: 20px;
  width: 100%;
}

.descubraMaisContainer {
  text-align: center;
  margin-top: 20px;
}

.descubraMaisBtn {
  margin-left: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  width: 220px;
  height: 60px;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: medium;
  border: none;
  color: #222222;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.descubraMaisBtn:hover {
  background-color: #e6c800;
  transform: scale(1.05);
}
