.containerProjetosBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222; 
    border-radius: 10px;
    padding: 20px;
    max-width: 100%; 
}

.containerProjetosBox h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.linhaProjetos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 26px; 
    padding: 20px;
    width: 100%;
}

.descubraMaisContainer {
    text-align: center;
    margin-top: 20px;
}

.descubraMaisBtn {
    background-color: #ffdd00; 
    color: #000000; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); 
}

.descubraMaisBtn:hover {
    background-color: #e6c800;
}
