.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.paginate {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 10px;
}

.carouselWrapper {
    width: 100%;
    overflow: hidden; /* Para ocultar os projetos fora da tela */
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out; /* Para animação suave */
    width: 100%; 
    flex-wrap: nowrap; /* Mantém os itens em uma linha */
    justify-content: flex-start; /* Alinhamento à esquerda */
}

.projetos {
    display: flex;
    flex-wrap: nowrap; /* Impede a quebra de linha */
    justify-content: center;
}

.paginationButtons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.button {
    background-color: #f0ad4e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.button:hover:enabled {
    background-color: #e6952a;
}
