.flutter-container {
    background-color: #222222;
    padding: 20px 40px;
    color: white;
    position: relative;
  }
  
  .flutter-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .flutter-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-secao {
    align-items: flex-start;
  }
  
  .flutter-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .Contato-info {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .flutter-link {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .flutter-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .scroll-top-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .scroll-top-button img {
    width: 20px;
  }
  